<!DOCTYPE html>
<html lang="en" ng-app="Main">
<head>
    <meta charset="UTF-8">
    <title>
        טופס הגשת בקשה למלגה - הזנק לעתיד
    </title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_4mqAA1U4f5Z7QghZrvT4D");
        })();
    </script>
</head>
<body>

<div class="container" dir="rtl" ng-controller="FormController">
    <div class="panel panel-primary" style="max-width:750px; display:block; margin:auto;">
        <div class="panel-heading text-center">
            <h3 class="panel-title">טופס בקשת מלגה</h3>
        </div>
        <div class="panel-body">
            <form name="myForm" ng-model="myForm" class="form-horizontal" novalidate>

                <!-- todo: TEST AUTO -->
                <!--<div ng-repeat="input in inputs.array" class="form-group has-feedback"-->
                <!--ng-class="validationClass(input.model)">-->
                <!--<label for="{{::input.id}}" class="control-label col-sm-2 col-sm-push-10">{{::input.label}}</label>-->
                <!--<div class="col-sm-10 col-sm-pull-2">-->
                <!--<input ng-model="input.model" name="{{::input.name}}" id="{{::input.id}}"-->
                <!--type="{{::input.type}}"-->
                <!--class="form-control" placeholder="{{::input.placeholder}}"-->
                <!--required aria-describedby="{{::input.helpID}}" value=""/>-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-remove form-control-feedback"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-show="isInValid(input.model)" aria-hidden="true"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="glyphicon glyphicon-ok form-control-feedback"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-show="isValid(input.model)" aria-hidden="true"></span>&ndash;&gt;-->
                <!--&lt;!&ndash;<span id="{{input.helpID}}" class="help-block"&ndash;&gt;-->
                <!--&lt;!&ndash;ng-show="isInValid(input.model)">אותיות בלבד</span>&ndash;&gt;-->
                <!--hello-->
                <!--</div>-->
                <!--</div>-->
                <!-- END TEST AUTO -->

                <!--Note: fist sample-->
                <!--Note: first name-->
                <div class="form-group has-feedback"
                     ng-class="validationClass(myForm.firstName, [])">
                    <label for="firstName" class="control-label col-sm-2 col-sm-push-10">שם פרטי</label>
                    <div class="col-sm-10 col-sm-pull-2">
                        <input ng-model="data.firstName" name="firstName" id="firstName" type="text"
                               class="form-control" placeholder="שם פרטי" required aria-describedby="firstNameHelp"
                               pattern="[\u05D0-\u05EA, ]+">
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-show="isInValid(myForm.firstName, [])" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="isValid(myForm.firstName, [])" aria-hidden="true"></span>
                        <span id="firstNameHelp" class="help-block"
                              ng-show="isInValid(myForm.firstName, [])">אותיות בעברית בלבד</span>
                    </div>
                </div>
                <!--Note: fist sample end-->

                <!--Note: last name-->
                <div class="form-group has-feedback"
                     ng-class="validationClass(myForm.lastName, [])">
                    <label for="lastName" class="control-label col-sm-2 col-sm-push-10">שם משפחה</label>
                    <div class="col-sm-10 col-sm-pull-2">
                        <input ng-model="data.lastName" name="lastName" id="lastName" type="text" class="form-control"
                               placeholder="שם משפחה"
                               aria-describedby="basic-addon1"
                               required aria-describedby="lastNameHelp" pattern="[\u05D0-\u05EA, ]+">
                        <span class="glyphicon glyphicon-remove form-control-feedback"
                              ng-show="isInValid(myForm.lastName, [])" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="isValid(myForm.lastName, [])" aria-hidden="true"></span>
                        <span id="lastNameHelp" class="help-block"
                              ng-show="isInValid(myForm.lastName, [])">אותיות בעברית בלבד</span>
                    </div>
                </div>

                <!--note: sex as radio buttons-->
                <!--<div class="form-group container">-->

                <!--<label class="" for="sex_m">-->
                <!--<input ng-model="data.sex" id="sex_m" name="sex" type="radio" value="male">-->
                <!--&nbsp;-->
                <!--<bdi>זכר</bdi>-->
                <!--</label>-->

                <!--<br/>-->

                <!--<label class="" for="sex_f">-->
                <!--<input ng-model="data.sex" id="sex_f" name="sex" type="radio" value="female">-->
                <!--&nbsp;-->
                <!--<bdi>נקבה</bdi>-->
                <!--</label>-->
                <!--</div>-->

                <!--note: sex as select-->
                <div class="form-group">
                    <label for="firstName" class="control-label col-sm-2 col-sm-push-10">
                        <bdi>מין</bdi>
                    </label>
                    <div class="col-sm-10 col-sm-pull-2">
                        <select class="form-control">
                            <option value="null">בחר</option>
                            <option value="male">זכר</option>
                            <option value="female">נקבה</option>
                        </select>
                    </div>
                </div>

                <!--Note: submit date-->
                <div class="form-group">
                    <label class="control-label col-sm-8" for="submitDate">
                        <bdi>תאריך הגשת הטופס:</bdi>
                        <time pubdate>{{::data.dateNow}}</time>
                    </label>

                    <input ng-model="data.submitDate" id="submitDate" name="submitDate" type="hidden"
                           class="form-control col-sm-4" value="{{::data.dateNow}}"
                           aria-describedby="basic-addon1" disabled>
                </div>

                <!--Note: id-->
                <div class="form-group has-feedback" ng-class="validationClass(myForm.id, [])">
                    <label class="control-label col-sm-2 col-sm-push-10" for="id">
                        <bdi>תעודת זהות</bdi>
                    </label>
                    <div class="col-sm-10 col-sm-pull-2">
                        <input aria-describedby="idHelp" class="form-control"
                               id="id" name="id" ng-model="data.id" placeholder="תעודת זהות"
                               pattern="[\d]{9}" required type="text"/>
                        <span aria-hidden="true" class="glyphicon glyphicon-remove form-control-feedback"
                              ng-show="isInValid(myForm.id, [])"></span>
                        <span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="isValid(myForm.id, [])"></span>
                        <span class="help-block" id="idHelp" ng-show="isInValid(myForm.id, [])">
                            <bdi>9 ספרות בלבד (ת.ז. כולל ביקורת, אם המספר פחות מ9 ספרות, יש להוסיף 0 לפני)</bdi>
                        </span>
                    </div>
                </div>

                <!--Note: birthday as textbox-->
                <div class="form-group has-feedback" ng-class="validationClass(myForm.birthday, [])">
                    <label class="control-label col-sm-2 col-sm-push-10" for="birthday">
                        <bdi>תאריך לידה</bdi>
                    </label>
                    <div class="col-sm-10 col-sm-pull-2">
                        <input aria-describedby="birthdayHelp" class="form-control" id="birthday" name="birthday"
                               ng-model="data.birthday"
                               pattern="[\u05D0-\u05EA, ]+" placeholder="birthday" required="" type="text"/>
                        <span aria-hidden="true" class="glyphicon glyphicon-remove form-control-feedback"
                              ng-show="isInValid(myForm.birthday, [])"></span>
                        <span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show="isValid(myForm.birthday, [])"></span>
                        <span class="help-block" id="birthdayHelp" ng-show="isInValid(myForm.birthday, [])">
                            <bdi>יש למלא תאריך לידה בצורת: DD-MM-YYYY</bdi>
                        </span>
                    </div>
                </div>

                <!--Note: birthday as datepicker-->
                <div class="form-group">
                    <div class="input-group date" data-provide="datepicker">
                        <input type="text" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>

                <div class='input-group date'>
                    <input ng-model="data.birthday" type='text' class="form-control" placeholder="תאריך לידה"
                           id='datetimepicker1'/>
                </div>

                <br/>

                <div class="input-group">
                    <input ng-model="data.nSiblings" type="number" class="form-control" placeholder="מספר אחים"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.cell" type="number" class="form-control" placeholder="פלאפון"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <!--<div class="form-group has-feedback"-->
                <!--ng-class="validationClass(myForm.email)">-->
                <!--<label for="email" class="control-label col-sm-2 col-sm-push-10">Email</label>-->
                <!--<div class="col-sm-10 col-sm-pull-2">-->
                <!--<input ng-model="data.email" name="email" id="email" type="email" class="form-control"-->
                <!--placeholder="דואר אלקטרוני - אימייל תקין"-->
                <!--required>-->
                <!--<span class="glyphicon glyphicon-remove form-control-feedback"-->
                <!--ng-show="myForm.email.$invalid && myForm.email.$dirty"></span>-->
                <!--<span class="glyphicon glyphicon-ok form-control-feedback"-->
                <!--ng-show="isValid(myForm.email)"></span>-->
                <!--<span id="emailHelp" class="help-block" ng-show="isInValid(myForm.email)">-->
                <!--<a href="https://he.wikipedia.org/wiki/%D7%93%D7%95%D7%90%D7%A8_%D7%90%D7%9C%D7%A7%D7%98%D7%A8%D7%95%D7%A0%D7%99"-->
                <!--target="_blank">איך לכתוב כתובת דואר תקינה?</a>-->
                <!--</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--<br/>-->

                <div class="input-group">
                    <input ng-model="data.parentsLocation" type="text" class="form-control"
                           placeholder="יישוב הורים"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.myLocation" type="text" class="form-control"
                           placeholder="מיקום מגורים בזמן הלימודים" aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.fatherOrigin" type="text" class="form-control" placeholder="ארץ מוצא אב"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.motherOrigin" type="text" class="form-control" placeholder="ארץ מוצא אם"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.highSchoolName" type="text" class="form-control"
                           placeholder="שם בית ספר תיכון"
                           aria-describedby="basic-addon1" required>
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.formerPrograms" type="text" class="form-control"
                           placeholder="תוכניות בהן השתתפתי"
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.currentInstitution" type="text" class="form-control"
                           placeholder="מוסד אקדמי נוכחי"
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.currentYear" type="number" class="form-control"
                           placeholder="שנה אקדמית נוכחית"
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.major" type="text" class="form-control" placeholder="תחום לימוד ראשי"
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.secondary" type="text" class="form-control"
                           placeholder="תחום לימוד משני (במידה ויש)" aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    <input ng-model="data.disabilities" type="checkbox" class="form-control" placeholder=""
                           aria-describedby="basic-addon1"/>האם קיימים אבחונים ללקויות למידה ואו קשב וריכוז (כולל
                    מתקופת התיכון)? אם כן סמנ/י V
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.activity" maxlength="1000" cols="200" class="form-control"
                                  placeholder="ציינ/י בקצרה על השתתפות בפעילות הזנק בתיכון (האם השתתפת בפעילות מיוחדת במסגרת התוכנית לדוגמה פגישות עם תורמים/ הרצאות/ הובלת פרוייקטים וכו')"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.reason" maxlength="1000" cols="200" class="form-control"
                                  placeholder="סיבת בקשת המלגה" aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.service" maxlength="1000" cols="200" class="form-control"
                                  placeholder="נא לפרט  לגבי השירות הצבאי/לאומי (משך, תפקיד, חיל, קבע במידה ורלוונטי, האם קיבלת במסגרת הצבא תנאי שירות מיוחדים – ת&quot;ש, תשמ&quot;ש וכו'"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.relationshipStatus" maxlength="1000" cols="200" rows="5"
                                  class="form-control"
                                  placeholder="נא לפרט  מצב אישי ומשפחתי (כולל עיסוק הורים ואחים – נא לציין האם ההורים והאחים אקדמיים) "
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.socialEconomic" maxlength="1000" cols="200" rows="10"
                                  class="form-control"
                                  placeholder="נא לפרט מצב סוציו-אקונומי, בעיות (כלכליות, משפחתיות, בריאותיות וכדומה בהווה או בעבר , במידה ואחד מההורים מקבל מקור הכנסה נוסף נא לציין זאת  כדוגמת - קצבה מבטוח לאומי,פנסיה מעבודה קודמת וכו')"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.lifeStory" maxlength="1000" cols="200" rows="10" class="form-control"
                                  placeholder="סיפור חיים בקווים כלליים: מקומות התנדבות  (במידה והיו), מקומות עבודה מיוחדים, אירועים חשובים"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.hobby" maxlength="1000" cols="200" rows="3" type="text"
                                  class="form-control"
                                  placeholder="במידה וישנו תחום אישי ,עניין מיוחד או תחום שהמועמד/ת מתעסק/ת בו וטוב בו ( כדוגמת שירה ריקוד ספורט אומנות וכדומה )  מומלץ לציינו"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.otherScholarships" maxlength="1000" cols="200" rows="2"
                                  class="form-control"
                                  placeholder="במידה והמועמד/ת הגיש בקשות אחרות למלגות ואו מקבלים מלגה ממקור אחר (מעל 5000 ש&quot;ח) יש לציין זאת"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                        <textarea ng-model="data.comments" maxlength="1000" cols="200" rows="10" class="form-control"
                                  placeholder="הערות(דברים נוספים שחשוב לך לציין)"
                                  aria-describedby="basic-addon1"></textarea>
                </div>
                <br/>

                <div class="input-group">
                    תעודת בגרות או תעודה המעידה על סיום לימודי התיכון בבית הספר שבו התקיימה התכנית
                    <input ng-model="data.highSchoolGraduationFile" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    תמונה עדכנית
                    <input ng-model="data.passportPicture" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <div class="input-group">
                    צילום ת.ז.
                    <input ng-model="data.idPicture" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    שלושה תלושי שכר אחרונים של ההורים (יש לוודא שלמות הטפסים בעת הסריקה).
                    <input ng-model="data.salary" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    תעודת שחרור מצה"ל או שירות לאומי (תעודת הערכה, בעלת פירוט של אופי השירות)
                    <input ng-model="data.serviceFreePic" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    ללומדים בפועל - אישור לימודים עדכני ( אין צורך לשלוח עם הבקשה ניתן לצרף את האישור בשלב מאוחר
                    יותר)
                    <input ng-model="data.schoolApproval" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>
                <div class="input-group">
                    במידה ויש המלצות, יש לצרפן
                    <input ng-model="data.recommend" type="file" class="form-control" placeholder=""
                           aria-describedby="basic-addon1">
                </div>
                <br/>

                <!-- TODO: form verification -->

                <div class="row pull-right">
                    <!-- TODO: BP of submit / reset -->
                    <!--FIXME the send button is always disabled! :(-->
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-success" ng-click="sendMail()"
                                ng-disabled="myForm.$invalid || myForm.$pristine">שליחה
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="reset" class="btn btn-default" ng-click="reset()" ng-disabled="myForm.$pristine">
                            איפוס
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="background:#F8F8F8; margin:auto; margin-top:5px;" class="container center-block">
    <h6 class="center-block text-center">This web-page is designed & coded by Idan Izicovich for Heznek La'atid
        company. All rights reserved &copy;</h6>
</div>


<!--<ng-view>Loading...</ng-view>-->

<!-- dependencies -->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/angular/angular.js"></script>

<!-- my dependencies -->
<script src="app.js"></script>

</body>
</html>